<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="HouseDecorPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>hd.entity.Tblorderdetail</class>
    <class>hd.entity.Tblideabook</class>
    <class>hd.entity.Tblorder</class>
    <class>hd.entity.Tblprofessional</class>
    <class>hd.entity.Tblpromotion</class>
    <class>hd.entity.Tblproductphoto</class>
    <class>hd.entity.Tlcity</class>
    <class>hd.entity.Tbltracking</class>
    <class>hd.entity.Tblseller</class>
    <class>hd.entity.Tblproject</class>
    <class>hd.entity.Tbladmin</class>
    <class>hd.entity.Tblrole</class>
    <class>hd.entity.Tblproduct</class>
    <class>hd.entity.Tblcategory</class>
    <class>hd.entity.Tblstyle</class>
    <class>hd.entity.Tbltypeofwork</class>
    <class>hd.entity.Tbluser</class>
    <class>hd.entity.Tblideabookphoto</class>
    <class>hd.entity.Tblstory</class>
    <class>hd.entity.tracking</class>
    <class>hd.entity.typeofwork</class>
    <class>hd.entity.professional</class>
    <class>hd.entity.productphoto</class>
    <class>hd.entity.style</class>
    <class>hd.entity.story</class>
    <class>hd.entity.orderdetail</class>
    <class>hd.entity.project</class>
    <class>hd.entity.promotion</class>
    <class>hd.entity.ideabook</class>
    <class>hd.entity.category</class>
    <class>hd.entity.orders</class>
    <class>hd.entity.user</class>
    <class>hd.entity.role</class>
    <class>hd.entity.product</class>
    <class>hd.entity.seller</class>
    <class>hd.entity.ideabookphoto</class>
    <class>hd.entity.admin</class>
    <class>hd.entity.Tracking</class>
    <class>hd.entity.User</class>
    <class>hd.entity.Project</class>
    <class>hd.entity.City</class>
    <class>hd.entity.Story</class>
    <class>hd.entity.Orderdetail</class>
    <class>hd.entity.Orders</class>
    <class>hd.entity.Ideabookphoto</class>
    <class>hd.entity.Professional</class>
    <class>hd.entity.Promotion</class>
    <class>hd.entity.Style</class>
    <class>hd.entity.Typeofwork</class>
    <class>hd.entity.Seller</class>
    <class>hd.entity.Ideabook</class>
    <class>hd.entity.Role</class>
    <class>hd.entity.Product</class>
    <class>hd.entity.Productphoto</class>
    <class>hd.entity.Admin</class>
    <class>hd.entity.Category</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/housedecor?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="123456"/>
    </properties>
  </persistence-unit>
</persistence>
